In [39]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

In [40]:
df = pd.read_csv('Advertising.csv')

In [41]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [42]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [43]:
X = df.drop('sales',axis=1)
y = df['sales']

# TRAIN   |   VALIDATION | HOLD OUT TEST
# 70              15              15

# разделение = 70/30
# разделение x_validation, y_validation (но делим уже не Х и У а Х_тест и У_тест)

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [46]:
# Further split 30% of test into validation and hold-out (15% and 15% each)
X_validation, X_holdout_test, y_validation, y_holdout_test = train_test_split(X_test, y_test, test_size=0.5, random_state=101)

In [47]:
model = RandomForestRegressor(n_estimators=10,random_state=101)

In [48]:
model.fit(X_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=101)

In [49]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [50]:
validation_predictions = model.predict(X_validation)

In [51]:
mean_absolute_error(y_validation,validation_predictions)

0.6636666666666673

In [52]:
mean_squared_error(y_validation,validation_predictions)**0.5 #RMSE

0.7831368547918899

In [53]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [54]:
hold_out_predictions = model.predict(X_holdout_test)

In [55]:
mean_absolute_error(y_holdout_test,hold_out_predictions)

0.5843333333333331

In [57]:
mean_squared_error(y_holdout_test,hold_out_predictions)**0.5

0.722802416524276

In [58]:
final_model = RandomForestRegressor(n_estimators=35,random_state=101)

In [59]:
final_model.fit(X,y)

RandomForestRegressor(n_estimators=35, random_state=101)

In [60]:
import joblib

In [61]:
joblib.dump(final_model,'final_model.pkl')

['final_model.pkl']

In [62]:
X.columns

Index(['TV', 'radio', 'newspaper'], dtype='object')

In [63]:
list(X.columns)

['TV', 'radio', 'newspaper']

In [64]:
joblib.dump(list(X.columns),'column_names.pkl')

['column_names.pkl']

In [65]:
col_names = joblib.load('column_names.pkl')

In [66]:
col_names

['TV', 'radio', 'newspaper']

In [68]:
loaded_model = joblib.load('final_model.pkl')

In [69]:
loaded_model.predict([[230.1,37.8,69.2]])

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([21.98857143])