In [19]:
import numpy as np 
import pandas as pd 
from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [3]:
df

          W         X         Y         Z
A -0.049171 -0.847666 -0.438011 -1.122036
B -0.965758 -0.659247 -0.511900 -0.583807
C  1.638454 -1.832528 -0.274021 -0.771177
D  0.236241  0.734248  0.397965 -0.103646
E  0.235724 -0.656168 -1.569034 -2.088099

In [4]:
df['W']

A   -0.049171
B   -0.965758
C    1.638454
D    0.236241
E    0.235724
Name: W, dtype: float64

In [5]:
type(df['W'])

pandas.core.series.Series

In [6]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.W

A   -0.049171
B   -0.965758
C    1.638454
D    0.236241
E    0.235724
Name: W, dtype: float64

In [6]:
df['X']

A   -0.847666
B   -0.659247
C   -1.832528
D    0.734248
E   -0.656168
Name: X, dtype: float64

In [12]:
df[['W','Z']]

          W         Z
A  1.343955 -1.408779
B -0.803975 -0.788053
C -1.242609 -0.590540
D -0.595393 -0.083830
E  0.252023  0.364967

In [7]:
def['new']

SyntaxError: invalid syntax (1103085219.py, line 1)

In [8]:
df['new']=1,2,3,4,5

In [9]:
df

          W         X         Y         Z  new
A -0.049171 -0.847666 -0.438011 -1.122036    1
B -0.965758 -0.659247 -0.511900 -0.583807    2
C  1.638454 -1.832528 -0.274021 -0.771177    3
D  0.236241  0.734248  0.397965 -0.103646    4
E  0.235724 -0.656168 -1.569034 -2.088099    5

In [10]:
df['sum']=df['W']+df['Y']

In [11]:
df

          W         X         Y         Z  new       sum
A -0.049171 -0.847666 -0.438011 -1.122036    1 -0.487182
B -0.965758 -0.659247 -0.511900 -0.583807    2 -1.477658
C  1.638454 -1.832528 -0.274021 -0.771177    3  1.364432
D  0.236241  0.734248  0.397965 -0.103646    4  0.634206
E  0.235724 -0.656168 -1.569034 -2.088099    5 -1.333311

In [18]:
a = df.drop('new',axis=1)

In [14]:
df

          W         X         Y         Z  new       sum
A -0.049171 -0.847666 -0.438011 -1.122036    1 -0.487182
B -0.965758 -0.659247 -0.511900 -0.583807    2 -1.477658
C  1.638454 -1.832528 -0.274021 -0.771177    3  1.364432
D  0.236241  0.734248  0.397965 -0.103646    4  0.634206
E  0.235724 -0.656168 -1.569034 -2.088099    5 -1.333311

In [31]:
df.drop('new',axis=1,inplace=True)

KeyError: "['new'] not found in axis"

In [3]:
df

NameError: name 'df' is not defined

In [15]:
df.shape

(5, 6)

In [2]:
df

NameError: name 'df' is not defined

In [10]:
df["Z"]

A    0.935823
B    0.431722
C   -1.209549
D   -1.032887
E    0.388846
Name: Z, dtype: float64

In [11]:
df.loc['A']

W   -0.606929
X   -0.614675
Y    0.904274
Z    0.935823
Name: A, dtype: float64

In [12]:
df['W']

A   -0.606929
B    0.967378
C   -2.293335
D   -0.813222
E    1.654354
Name: W, dtype: float64

In [16]:
df.iloc[2]

W      1.638454
X     -1.832528
Y     -0.274021
Z     -0.771177
new    3.000000
sum    1.364432
Name: C, dtype: float64

In [15]:
df.loc[["A","B"],['W','Y']]

          W         Y
A -0.606929  0.904274
B  0.967378 -0.223190