In [7]:
import numpy as np 
import pandas as pd 
from numpy.random import randn

In [8]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [3]:
df

          W         X         Y         Z
A  1.343955 -0.507784  0.758078 -1.408779
B -0.803975 -0.166626  1.078850 -0.788053
C -1.242609 -1.112746  0.163113 -0.590540
D -0.595393  1.148504  0.132241 -0.083830
E  0.252023 -0.550853 -1.067565  0.364967

In [4]:
df['W']

A    1.343955
B   -0.803975
C   -1.242609
D   -0.595393
E    0.252023
Name: W, dtype: float64

In [5]:
type(df['W'])

pandas.core.series.Series

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.W

A    1.343955
B   -0.803975
C   -1.242609
D   -0.595393
E    0.252023
Name: W, dtype: float64

In [8]:
df['X']

A   -0.507784
B   -0.166626
C   -1.112746
D    1.148504
E   -0.550853
Name: X, dtype: float64

In [12]:
df[['W','Z']]

          W         Z
A  1.343955 -1.408779
B -0.803975 -0.788053
C -1.242609 -0.590540
D -0.595393 -0.083830
E  0.252023  0.364967

In [13]:
def['new']

SyntaxError: invalid syntax (1103085219.py, line 1)

In [15]:
df['new']=1,2,3,4,5

In [16]:
df

          W         X         Y         Z  new
A  1.343955 -0.507784  0.758078 -1.408779    1
B -0.803975 -0.166626  1.078850 -0.788053    2
C -1.242609 -1.112746  0.163113 -0.590540    3
D -0.595393  1.148504  0.132241 -0.083830    4
E  0.252023 -0.550853 -1.067565  0.364967    5

In [4]:
df['sum']=df['W']+df['Y']

NameError: name 'df' is not defined

In [9]:
df

          W         X         Y         Z
A -0.606929 -0.614675  0.904274  0.935823
B  0.967378  1.167048 -0.223190  0.431722
C -2.293335 -0.585839  1.341483 -1.209549
D -0.813222 -0.470726 -0.237823 -1.032887
E  1.654354 -0.040249  0.044902  0.388846

In [22]:
df.drop('new',axis=1)

          W         X         Y         Z       sum
A  1.343955 -0.507784  0.758078 -1.408779  2.102033
B -0.803975 -0.166626  1.078850 -0.788053  0.274876
C -1.242609 -1.112746  0.163113 -0.590540 -1.079497
D -0.595393  1.148504  0.132241 -0.083830 -0.463152
E  0.252023 -0.550853 -1.067565  0.364967 -0.815543

In [23]:
df

          W         X         Y         Z  new       sum
A  1.343955 -0.507784  0.758078 -1.408779    1  2.102033
B -0.803975 -0.166626  1.078850 -0.788053    2  0.274876
C -1.242609 -1.112746  0.163113 -0.590540    3 -1.079497
D -0.595393  1.148504  0.132241 -0.083830    4 -0.463152
E  0.252023 -0.550853 -1.067565  0.364967    5 -0.815543

In [31]:
df.drop('new',axis=1,inplace=True)

KeyError: "['new'] not found in axis"

In [3]:
df

NameError: name 'df' is not defined

In [33]:
df.shape

(5, 5)

In [2]:
df

NameError: name 'df' is not defined

In [10]:
df["Z"]

A    0.935823
B    0.431722
C   -1.209549
D   -1.032887
E    0.388846
Name: Z, dtype: float64

In [11]:
df.loc['A']

W   -0.606929
X   -0.614675
Y    0.904274
Z    0.935823
Name: A, dtype: float64

In [12]:
df['W']

A   -0.606929
B    0.967378
C   -2.293335
D   -0.813222
E    1.654354
Name: W, dtype: float64

In [14]:
df.iloc[2]

W   -2.293335
X   -0.585839
Y    1.341483
Z   -1.209549
Name: C, dtype: float64

In [15]:
df.loc[["A","B"],['W','Y']]

          W         Y
A -0.606929  0.904274
B  0.967378 -0.223190