In [2]:
import pandas as pd 
import numpy as np

In [3]:
np.nan

nan

In [4]:
pd.NA

In [5]:
np.nan == np.nan

False

In [6]:
np.nan is np.nan

True

In [7]:
myvar = np.nan

In [8]:
myvar is np.nan

True

In [10]:
df = pd.read_csv('movie_scores.csv')

In [11]:
df

  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0

In [15]:
df.isnull()

   first_name  last_name    age    sex  pre_movie_score  post_movie_score
0       False      False  False  False            False             False
1        True       True   True   True             True              True
2       False      False  False  False             True              True
3       False      False  False  False            False             False
4       False      False  False  False            False             False