In [3]:
import numpy as np 
import pandas as pd
from numpy.random import randn

In [11]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [9]:
inside

[1, 2, 3, 1, 2, 3]

In [13]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [15]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [23]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [24]:
df

             A         B
G1 1 -0.236079  0.122054
   2 -1.166784  0.518626
   3 -0.383171  0.201067
G2 1 -0.681331  0.104873
   2 -1.671660  1.280431
   3  0.704943  0.774443

In [26]:
df.loc['G1'].loc[1]

A   -0.236079
B    0.122054
Name: 1, dtype: float64

In [27]:
df.index.names

FrozenList([None, None])

In [29]:
df.index.names = ('Groups', 'Num')

In [30]:
df

                   A         B
Groups Num
G1     1   -0.236079  0.122054
       2   -1.166784  0.518626
       3   -0.383171  0.201067
G2     1   -0.681331  0.104873
       2   -1.671660  1.280431
       3    0.704943  0.774443

In [32]:
df

                   A         B
Groups Num
G1     1   -0.236079  0.122054
       2   -1.166784  0.518626
       3   -0.383171  0.201067
G2     1   -0.681331  0.104873
       2   -1.671660  1.280431
       3    0.704943  0.774443

In [37]:
df.loc['G2'].loc[2]

A   -1.671660
B    1.280431
Name: 2, dtype: float64

In [39]:
df.xs('G1')

            A         B
Num
1   -0.236079  0.122054
2   -1.166784  0.518626
3   -0.383171  0.201067

In [40]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.236079  0.122054
G2     -0.681331  0.104873

In [41]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [42]:
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [2]:
df = pd.DataFrame(d)

NameError: name 'pd' is not defined

In [44]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [49]:
a = df.dropna(axis=1)

In [50]:
a

   C
0  1
1  2
2  3

In [52]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [53]:
df.fillna(value='FILL Value')

            A           B  C
0         1.0         5.0  1
1         2.0  FILL Value  2
2  FILL Value  FILL Value  3

In [1]:
df['A'].fillna(value=df['A'].mean())

NameError: name 'df' is not defined